.App {
  text-align: center;
  height: 129rem;


 
}

.App-logo {
  height: 25rem;
  pointer-events: none;
  z-index: -1;
  margin-bottom: 5rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s  ;
  }
}

.mt20 {
 
  margin-top: 10rem;
  color: rgb(184, 101, 218);
}

.z1 {
  z-index: 1;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.labelbutton {
  background-color: purple;
  color: white;
}

.athird {
  color: white;
  width: 40rem;
  height: 25rem;
  margin-top: 5rem;
  background-color: purple;
  float:left;
  overflow-x: auto;
  word-wrap: anywhere;
  font-size: 10px;
}

.athird1 {
  color: white;
  width: 40rem;
  height: 25rem;
  margin-top: 5rem;
  background-color: purple;
  
}

.App-header {
  background-color:black;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  
}

.App-link {
  color: #61dafb;
}

.sitename {
  color:blue;
  height: 10rem;
  position: absolute;
  top: 7.5rem;
  z-index: 2;
}

.purple {
  color: orange;
  z-index: 2;

}

.onethird {
  color: white;
  width: 40rem;
  height: 3rem;
  margin-left:8%;
  margin-right: 8%;
  font-size: 2rem;
  text-align: center;
  
}

.centeritems {
  align-items: center;
}

.centertext {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
